main {
    height: 100vh;
    position: relative;
    background: black;
}

main > span {
    width: fit-content;
    height: fit-content;
    font-size: 25px;
    color: red;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 300px;
    margin: auto;

}

.line01 {

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 250px;
    width: 600px;
    background: white;
    height: 1px;
    margin: auto;
}

.line02 {

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 600px;
    background: white;
    height: 1px;
    margin: auto;
}

#startButton {
    width: 100px;
    height: 30px;
    position: absolute;
    left: 0;
    right: 200px;
    top: 100PX;
    bottom: 0;
    margin: auto;
}

#stopButton {
    width: 100px;
    height: 30px;
    position: absolute;
    left: 200px;
    right: 0;
    top: 100px;
    bottom: 0;
    margin: auto;
}

#lightPanel {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 120px;
    top: 0;
    margin: auto;
}

#lightPanel > div {
    width: 100px;
    height: 50px;
    border: 1px solid white;
    display: inline-block;

}

